@using BlazorServer.Models
@using Dash.Data

@inject BlazorServer.Services.DataService service
@inject DashDbContext dbContext

<ul class="@dropZone @dropClass"
    ondragover="event.preventDefault();"
    ondragstart="event.dataTransfer.setData('', event.target.id);"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave">

    @if(@CalendarWeek != 0)
    {
        <h5>@State (@Models.Sum(m => m.ListElement.TimeTotal)/@Week.ProductionMinutes)<br />KW @CalendarWeek</h5>
    }else{
        <h5>@State <br /></h5>
    }
    
    <hr />

    @foreach (var task in Models)
    {
        <DataComponent DataModel="task"></DataComponent>
    }
</ul>