@page "/draganddrop"

<PageTitle title="Drag and Drop"/>

<div class="col-md-3">
    <button type="button">Klicken</button>

</div>
<div class="col-md-3">
    <button type="button">Klicken</button>

</div>
<div class="col-md-3">
    <button type="button">Klicken</button>

</div>