@page "/fetchdata"

@inject MongoDbService mongoService

<PageTitle>Weather forecast</PageTitle>

@using Dash.Mongo.Data
@using Dash.Mongo.Models
@using Dash.Mongo.Services
@using EMobility.Models

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<EditForm Model="@sessionModel" OnValidSubmit="@HandleValidSubmit">
    <p></p>
    <label>
        Location:
        <InputText id="location" @bind-Value="sessionModel.Location"/>
    </label>

     <label>
        TransWH:
        <InputText id="transWh" @bind-Value="sessionModel.TransWH"/>
    </label>

    <label>
        Timestamp:
        <InputDate id="timestamp" @bind-Value="sessionModel.TimeStamp" />
    </label>

    <label>
        AuthID:
        <InputText id="authid" @bind-Value="sessionModel.AuthId"/>
    </label>

    <label>
        Duration:
        <InputText id="duration" @bind-Value="sessionModel.Duration"/>
    </label>

    <button type="submit">Add Session</button>

</EditForm>

}

