@using BlazorTest.Models

<div class="jobs-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public List<DataModel> Models { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback<DataModel> OnStateUpdate { get; set; }
    [Parameter] public DataModel Payload { get; set; }

    public async Task UpdateOrderAsync(TaskState newType, int cw)
    {
        var dataModel = Models.SingleOrDefault(x => x.Id == Payload.Id);
        if (dataModel != null)
        {
            dataModel.State = newType;
            dataModel.Cw = cw;
            await OnStateUpdate.InvokeAsync(Payload);
        }
    }
}
